/* src/components/SectionHeading.css */
.section-heading {
  text-align: center;
  margin: 60px 0 30px;
}

.section-heading h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 5px;
}

.section-heading p {
  font-size: 18px;
  color: var(--text-secondary);
  margin: 0;
}